* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 18px;
    background-color: #dfe5ef;
}

h1 {
    margin-bottom: 20px;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
    border-top: solid;
    border-color: #dfe5ef;
    font-size: 18px;
}

footer img {
    height: 150px;
    width: auto;
    border-radius: 50%;
    float: left;
}

footer p {
    float: left;
    padding-top: 40px;
}

p {
    margin: 0.7em 0;
}

.blog-post {
    position: relative;
}

.post-text {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.4em;
}

.post-title {
    font-size: 20px;
    text-align: left;
}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

#page {
    position: relative;
    margin: 0 auto;
    padding: 0;
    min-width: 600px;
    max-width: 40em;
    font-size: 100%;
    background-color: white;
}

#content {
    margin: 0 0 0 0;
    padding: 3em 5% 2em 5%;
    min-width: 20em;
    max-width: 60em;
}

#header-text {
    font-size: 20px;
    text-align: center;
}

.date {
    position: absolute;
    top: 5%;
    right: 0%;
    font-size: 16px;
}

.github-button {}
