* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 18px;
    background-color: #dfe5ef;
}

h1 {
    margin-bottom: 20px;
}

header {
    margin-bottom: 20px;
}

footer {
    margin-top: 20px;
}

p {
    margin: 0.7em 0;
}

.blog-post {
    position: relative;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.4em;
}

#page {
    position: relative;
    margin: 0 auto;
    padding: 0;
    min-width: 600px;
    max-width: 40em;
    font-size: 100%;
    background-color: white;
}

#content {
    margin: 0 0 0 0;
    padding: 3em 5% 2em 5%;
    min-width: 20em;
    max-width: 60em;
}
