.topnav {
  padding-bottom: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-image {
  max-height: 350px;
  max-width: 350px;
}

.title-container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 15px;
  padding-bottom: 30px;
}

.section-header {
  padding-bottom: 30px;
}
